<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./js/dep.js"></script>
    <script src="./js/wather.js"></script>
    <script src="./js/compiler.js"></script>
    <script src="./js/observer.js"></script>
    <script src="./js/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
  </head>
  <body>
    <div id="app">
      <h2>差值表达式</h2>
      <h1>{{msg}}</h1>
      <h1>{{count}}</h1>
      <div v-text="msg"></div>
      <div v-text="count"></div>
      <input type="text" v-model="msg" />
      <input type="text" v-model="count" />
      <div v-html="html"></div>
    </div>
  </body>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        html: '<span>hahaha</span>',
        msg: 'hello vue',
        count: 2,
        obj: { name: '小明' },
      },
    })
  </script>
</html>
